              <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
       <div class="page-sidebar  navbar-collapse collapse" th:fragment="slidermenu">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                        <li class="sidebar-toggler-wrapper hide">
                            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                            <div class="sidebar-toggler"> </div>
                            <!-- END SIDEBAR TOGGLER BUTTON -->
                        </li>
                        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                        <li class="sidebar-search-wrapper">
                            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                            <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
                            <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered  &amp; solid search box -->
                            <form class="sidebar-search  sidebar-search-bordered" action="page_general_search_3.html" method="POST">
                                <a href="javascript:;" class="remove">
                                    <i class="icon-close"></i>
                                </a>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="查询..."/>
                                    <span class="input-group-btn">
                                        <a href="javascript:;" class="btn submit">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </span>
                                </div>
                            </form>
                            <!-- END RESPONSIVE QUICK SEARCH FORM -->
                        </li>
                        <li class="nav-item start ">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title">控制面板</span>
                                <span class="arrow"></span>
                                   <span class="selected"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item start ">
                                    <a href="javascript:;" class="nav-link "  id="menu_console_desk">
                                        <i class="icon-bar-chart"></i>
                                        <span class="title">控制台</span>
                                          <span class="selected"></span>
                                         <span class="badge badge-success">1</span>
                                     </a>
                                </li>
                            </ul>
                        </li>
                       
                   
                        <li class="heading"  th:each="menu : ${session.SESSON_MENU}"  >
                            <h3 class="uppercase" th:text='${menu.name}'></h3>
                      
                        <li class="nav-item"   th:each="prod : ${menu.children}" >
                            <a href="javascript:;" class="nav-link nav-toggle" th:id = "${'menu_'+prod.id}">
                                <i class="icon-diamond" 	th:class="${prod.icon}"></i>
                                <span class="title"  th:text="${prod.name}">UI Features</span>
                                <span class="selected"></span>
                                <span class="arrow" ></span>
                            </a>
                            <ul class="sub-menu"  >
                                <li class="nav-item" th:each="prodc : ${prod.children}">
                                    <a href="javascript:;" class="nav-link" th:id = "${'menu_'+prodc.id}" th:href="${prodc.href}" >
                                        <span class="title"  th:text="${prodc.name}">Color Library</span>
                                         <span class="selected"></span>
                                    </a>
                                </li>
                           
                            </ul>
                        </li>
                          </li>
		
                
         
                    </ul>
                    <!-- END SIDEBAR MENU -->
                    <!-- END SIDEBAR MENU -->
                </div>


